.poster{
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    height: 40vh;
    background-color: hotpink;
    border-radius: 23px;
    width: 80%;
    margin:13px 0px 12px 0px;
}.postUpdatedCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width:30%
}.posterholder{
    width:120px;
    height: 140px;
    
}.imgposter{
    width:120px;
    height: 140px;
    border-radius: 13px;
    border-style: none;
    border-width: 7px;
}.blogdesc{
    width: 80%;
    background-color: white;
    border-radius: 13px;
    margin: 13px;
    padding: 13px;
}.min{
    min-height: 100vh;
}