{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {%block cssFile %}{%endblock%}
</head>
<body>
    <nav class="navele"><h1><a href="{% url "home"%}">Lakshman's Blog</a></h1><h1><a href="{% url "postspage"%}">All Posts</a></h1></nav >
    {%block body%}{%endblock%}
</body>
</html> 